.is-wc_lotery_countdown {

}
.wc_lotery_countdown-rtl {
	direction: rtl;
}
.wc_lotery_countdown-holding span {
	color: #888;
}
.wc_lotery_countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.wc_lotery_countdown-show1 .wc_lotery_countdown-section {
	width: 98%;
}
.wc_lotery_countdown-show2 .wc_lotery_countdown-section {
	width: 48%;
}
.wc_lotery_countdown-show3 .wc_lotery_countdown-section {
	width: 32.5%;
}
.wc_lotery_countdown-show4 .wc_lotery_countdown-section {
	width: 24.5%;
}
.wc_lotery_countdown-show5 .wc_lotery_countdown-section {
	width: 19.5%;
}
.wc_lotery_countdown-show6 .wc_lotery_countdown-section {
	width: 16.25%;
}
.wc_lotery_countdown-show7 .wc_lotery_countdown-section {
	width: 14%;
}
.wc_lotery_countdown-section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.wc_lotery_countdown-amount {
    font-size: 200%;
}
.wc_lotery_countdown-period {
    display: block;
}
.wc_lotery_countdown-descr {
	display: block;
	width: 100%;
}


span.winning {
	min-height: 52px;
	min-width: 32px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	line-height: 52px;
	top: -16px;
	left: -16px;
	margin: 0;
	-moz-border-radius: 20px;
	border-radius: 40px;
	background: #a2c094;
	background: -webkit-gradient(linear,left top,left bottom,from(#a2c094),to(#85ad74));
	background: -webkit-linear-gradient(#a2c094,#85ad74);
	color:#fff;
}

.widget .hasCountdown{background: none; border:none;}
.widget .wc_lotery_countdown_amount {font-size:120%}
.widget .time-left,.widget  .has-finished{display: block}
.hasCountdown .over {text-align: center; padding:1em;}
.ajax-working {background: url(../images/ajax-loader.gif) center center no-repeat; width: 100%; height:50px;}
.lottery-bage{background: url(../images/lottery-big.png) center center no-repeat; background-size: 100%; width:24px; height: 24px; position: absolute; right:10px; top:10px;}

.auction_form .ui-spinner-button.ui-spinner-up.ui-corner-tr.ui-button.ui-widget.ui-state-default.ui-button-text-only {
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
.auction_form .ui-spinner-button {
  position: absolute;
}
.auction_form .ui-spinner-button.ui-spinner-down.ui-corner-br.ui-button.ui-widget.ui-state-default.ui-button-text-only {
  right: 5px;
  top: 0;
  cursor: pointer;
}

.auction_form .ui-spinner {
  height: 16px;
  overflow: hidden;
  padding-right: 20px;
  position: relative;
}

.blink{ color:red !important; }


progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 100%;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 2px;

}
progress[value]::-webkit-progress-value {
	   background-color:#8bcf69;
    border-radius: 2px;


}

.full > progress[value]::-webkit-progress-value{
  background-color: red;
}


.wcl-progress-meter{
	position: relative;
	margin-top: 2em
}
.wcl-progress-meter meter {width: 100%; height: 20px;
 -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
position: relative;}

.wcl-progress-meter meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;

}

.wcl-progress-meter meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background: #8bcf69;

}



.wcl-progress-meter meter::-webkit-meter-suboptimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background: #e6d450;

}


.wcl-progress-meter .zero {
  display: block;
  position: absolute;
  top: -100%;

}

.wcl-progress-meter .min {
  display: block;
  position: absolute;
  top: -100%;
}

.wcl-progress-meter .max {
  display: block;
  position: absolute;
  top: -100%;
  right: 0;
}

.lottery-ajax-change {
    margin-top: 40px;
    display: block;
}
.lottery-time:after{
  content: "";
  clear: both;
  display: table;
}
.wc_lottery_pn {
  width: 400px;
}
.tickets_numbers_panel {
  border-top: 1px solid #dcd7ca;
  border-bottom: 1px solid #dcd7ca;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ticket_number_line {
  margin-bottom: 0;
}
.ticket_number, .show_bonus_number {
  color: black;
  padding: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 32px;
  font-weight: 1000;
  margin: 3px;
  border: 1px solid black !important;
  border-radius: 5px;
  cursor: pointer;
}
.selected_ticket_number, .show_selected_bonus_number {
  background: #007cba !important;
  color: white !important;
}
.ticket_number_span {
  position: relative;
}
.ticket_alphabet {
  color: black;
  position: absolute;
  top: -23px;
  right: 6px;
  font-size: 12px;
  color: black;
  font-weight: 700;
}
.bonus_ticket_alphabet {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 12px;
  color: black;
  font-weight: 700;
}
.selected_ticket_alphabet {
  color: white;
}
.ticket_number_head {
  padding-bottom: 10px;
}
.tn_head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.auto_pick_btn {
  background: #007CFF;
  border-color: #007CFF;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}
.reset_ticket {
  font-size: 36px;
  color: black;
}
.bonus_panel {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.bonus_wrapper {
  display: flex;
  justify-content: flex-start;
}
.bonus_plus_button {
  position: relative;
  width: 72px;
}
.participate_btn {
  background: #007cba;
  border-color: #007cba;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
}
.bonus_number_panel {
  padding-bottom: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 50px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 440px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.winner_panel {
  width:100%;
  border: 1px solid #959e9f;
}

.winner_line {
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  width:100%;
  margin-bottom: 0;
}

.winner_line span {
  text-align: center;
}

.winner_line_header {
  color: black;
  border-bottom: 1px solid #959e9f;
}

.winner_line_prize {
  background: #dedede;
}

.winner_line_prize .winner_category {
  font-weight: bold;
}

.winner_line_ticket span {
  font-weight: bold;
  color: black;
}

.user_prize{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    background: #ffde17;
}

.user_no_prize{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    background: #f9c7cd;
}

.user_pending_prize{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    background: #a5e4f9;
}

.user_winner_span{
    margin-right: 5px;
    line-height: 1.2;
    font-size: 20px;
}
